.ReqHeader {
    font-size: 20px;
}

.optionsSection, .completedCourse, .incompleteCourse {
    display: flex;
}

.checkbox {
    width: 20px;
}

.optioncourse {
    margin-left: 50px;
}

.allReqs {
    display:flex;
}
.reqSection {
    width: 50%;
align-content: center
}