<div id="navbar">
    <div id="navLeft">
        <div id="navtitle">
            Degree Planner
        </div>
        <div id="navLogo">
            <img class="navicon" src="icons/logo.png">
        </div>
    </div>
    <div id="navRight">
        <div id="navHome" ng-click="$ctrl.shown=$ctrl.HOME">
            <img class="navicon" src="icons/home.png">
        </div>
        <div id="navAccount" class="nav-link" ng-click="$ctrl.shown=$ctrl.ACCOUNT">
            {{$ctrl.user}}
        </div>
        <div id="logout" class="nav-link" ng-click="$ctrl.logout()">
            Logout
        </div>
    </div>
</div>

<div class= "mainPage" ng-if="$ctrl.shown===$ctrl.HOME" id="homeScreen">
    <div id="Welcome">
        Welcome {{$ctrl.user}}
    </div>
    <div id="Boxes">
        <div id="AccountBox" class="mainBoxButton" ng-click="$ctrl.shown=$ctrl.ACCOUNT" >
            <div class="boxIcon">
                <img class="mainIcon" src="icons/account.png">
            </div>
            <div class="boxLabel">
                Account Information
            </div>
        </div>
        <!--
        <div id="ScheduleBox" class="mainBoxButton" ng-click="$ctrl.shown=$ctrl.SCHEDULE">
            <div class="boxIcon">
                <img class="mainIcon" src="icons/schedule.png">
            </div>
            <div class="boxLabel">
                Course Schedule
            </div>
        </div>
        -->
        <div id="RecommendationsBox" class="mainBoxButton" ng-click="$ctrl.shown=$ctrl.RECOMMENDATIONS" >
            <div class="boxIcon">
                <img class="mainIcon" src="icons/rec.png">
            </div>
            <div class="boxLabel">
                Course Recommendations
            </div>
        </div>
        <div id="RequirementsBox" class="mainBoxButton" ng-click="$ctrl.shown=$ctrl.REQUIREMENTS" >
            <div class="boxIcon">
                <img class="mainIcon" src="icons/req.png">
            </div>
            <div class="boxLabel">
                View Requirements
            </div>
        </div>
       <!--
        <div id="AddCourseBox"  class="mainBoxButton" ng-click="$ctrl.shown=$ctrl.COURSE">
            <div class="boxIcon">
                <img class="mainIcon" src="icons/course.png">
            </div>
            <div class="boxLabel">
                Add or Remove Courses Taken or Requirement Exceptions
            </div>
        </div>
        -->
    </div>
</div>
<div class= "mainPage" ng-if="$ctrl.shown===$ctrl.ACCOUNT" id="accountScreen">
    <account user="$ctrl.user" email="$ctrl.email" pass="$ctrl.pass" major="$ctrl.major" possible-majors="$ctrl.getPossibleMajors()"></account>
</div>
<div class= "mainPage" ng-if="$ctrl.shown===$ctrl.SCHEDULE"  id="schedScreen">
    <course-schedule courses="allcourses"></course-schedule>
</div>
<div class= "mainPage" ng-if="$ctrl.shown===$ctrl.RECOMMENDATIONS" id="recScreen">
    <rec courses-completed="$ctrl.taken" major="$ctrl.major" major-reqs="$ctrl.getAllReqs()"></rec>
</div>
<div class= "mainPage" ng-if="$ctrl.shown===$ctrl.REQUIREMENTS" id="reqScreen">
    <req courses-completed="$ctrl.taken" major="$ctrl.major" major-reqs="$ctrl.getAllReqs()"></req>
</div>
<div class= "mainPage" ng-if="$ctrl.shown===$ctrl.COURSE" id="courseScreen">

</div>