<div id="navbar">
    <div id="navLeft">
        <div id="navtitle">
            Degree Planner
        </div>
        <div id="navLogo">

        </div>
    </div>
    <div id="navRight">
        <div id="navHome" ng-click="$ctrl.shown=$ctrl.HOME">
            <img src="icons/home.png">
        </div>
        <div id="navAccount" ng-click="$ctrl.shown=$ctrl.ACCOUNT">
            {{$ctrl.user}}
        </div>
        <div id="logout" ng-click="$ctrl.logout()">
            Logout
        </div>
    </div>
</div>

<div ng-if="$ctrl.shown===$ctrl.HOME" id="homeScreen">
    <div id="Welcome">
        Welcome {{$ctrl.user}}
    </div>
    <div id="Boxes">
        <div id="AccountBox" ng-click="$ctrl.shown=$ctrl.ACCOUNT" >
            <div class="boxIcon">
                <img src="icons/account.png">
            </div>
            <div class="boxLabel">
                Account Information
            </div>
        </div>
        <div id="ScheduleBox" ng-click="$ctrl.shown=$ctrl.SCHEDULE">
            <div class="boxIcon">
                <img src="icons/schedule.png">
            </div>
            <div class="boxLabel">
                Course Schedule
            </div>
        </div>
        <div id="RecommendationsBox" ng-click="$ctrl.shown=$ctrl.RECOMMENDATIONS" >
            <div class="boxIcon">
                <img src="icons/rec.png">
            </div>
            <div class="boxLabel">
                Course Recommendations
            </div>
        </div>
        <div id="RequirementsBox" ng-click="$ctrl.shown=$ctrl.REQUIREMENTS" >
            <div class="boxIcon">
                <img src="icons/req.png">
            </div>
            <div class="boxLabel">
                View Requirements
            </div>
        </div>
        <div id="AddCourseBox"  ng-click="$ctrl.shown=$ctrl.COURSE">
            <div class="boxIcon">
                <img src="icons/course.png">
            </div>
            <div class="boxLabel">
                Add or Remove Courses Taken or Requirement Exceptions
            </div>
        </div>
    </div>
</div>
<div ng-if="$ctrl.shown===$ctrl.ACCOUNT" id="accountScreen">
    <account></account>
</div>
<div ng-if="$ctrl.shown===$ctrl.SCHEDULE"  id="schedScreen">
    <course-schedule courses=""></course-schedule>
</div>
<div ng-if="$ctrl.shown===$ctrl.RECOMMENDATIONS" id="recScreen">
    <rec data=""></rec>
</div>
<div ng-if="$ctrl.shown===$ctrl.REQUIREMENTS" id="reqScreen">
    <req coursesCompleted="" major=""></req>
</div>
<div ng-if="$ctrl.shown===$ctrl.COURSE" id="courseScreen">

</div>